main{
    width:90vw;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.shopping-cart{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    .container{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        padding:1rem 0.1rem;
        gap:2rem;
        overflow:scroll hidden;
        scroll-snap-type:inline mandatory;
        overscroll-behavior-inline:start;
        .cart{
            scroll-snap-align:start;
        }
    }
}
.category{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    .category-section{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        gap:2rem;
        .card{
            width:5rem;
            text-align: center;
            box-shadow:0px 0px 0px 1px rgb(202, 202, 202);
            padding:0.25rem;
            border-radius:0.25rem;
            cursor: pointer;
            .icon{
                font-size:2rem;
            }
            .h3{
                font-size:0.9rem;
                font-weight:600;
                text-transform: capitalize;
            }
        }
        .card:hover{
            box-shadow:0px 0px 5px rgb(202, 202, 202);
            transition:box-shadow 0.2s ;
        }
    }
}
.banner{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image:radial-gradient(white,black);
    .text{
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        gap:1.5rem;
        padding:0 0 5% 5%;
        .head{
            color:rgb(25, 231, 25);
            text-transform: capitalize;
            font-size:1.05rem;
            font-weight:600;
        }
        .subhead{
            color:white;
            font-size:1.5rem;
            text-transform: capitalize;
            font-weight:600;
        }
        button{
            width:fit-content;
            border:none;
            background-color:rgb(17, 219, 17);
            color:white;
            padding:0.5rem;
            font-size:0.9rem;
            font-weight:600;
            text-transform: capitalize;
            border-radius:0.25rem;
            cursor: pointer;
        }
        button:hover{
            opacity:0.9;
        }
    }
    .img{
        width:20%;
        padding:5rem;
        display: flex;
        justify-content: center;
        border:solid 1px red;
        img{
            width:100%;
        }
    }
    
}
.arrival{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    .ads{
        width:100%;
        display: flex;
        flex-direction: row;
        gap:0.25rem;
        .item{
            position: relative;
            width:50%;
            img{
                width:100%;
                height:100%;
            }
            .text{
                position: absolute;
                top:5%;
                left:5%;
                color:white;
                display: flex;
                flex-direction: column;
                gap:1rem;
                .h3{
                    font-size:1.2rem;
                    font-weight:700;
                }
                .p{
                    font-size:0.95rem;
                    text-transform: capitalize;
                    color:rgb(19, 233, 19);
                    font-weight:600;
                }
                a{
                    color:white;
                    text-transform: capitalize;
                    text-underline-offset:4px;
                }
            }
        }
        .item1{
            display: flex;
            flex-direction: column;
            gap:0.25rem;
            .item2{
                position: relative;
                width:100%;
                height:50%;
                img{
                    width:100%;
                    height:100%;
                }
                .text{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap:0.25rem;
                    .h3{
                        font-size:0.95rem;
                        text-transform: capitalize;
                    }
                    .p{
                        font-size:0.9rem;
                        text-transform: capitalize;
                    }
                    a{
                        font-size:0.8rem;
                    }
                }
            }
            .item3{
                width:100%;
                display: flex;
                flex-direction: row;
                gap:0.25rem;
                .item4{
                    position: relative;
                    width:50%;
                    background-image:radial-gradient(white,black);
                    img{
                        width:100%;
                    }
                    .text{
                        position: absolute;

                    }
                }
            }
        }
    }
}
.service{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:2rem;
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.25rem;
        .icon{
            font-size:1.75rem;
            border-radius:50%;
            background-color:black;
            color:white;
            padding:0.25rem;
            font-weight:600;
        }
        .h4{
            font-size:0.95rem;
            font-weight:700;
            text-transform: uppercase;
        }
        .p{
            font-size:0.9rem;
            font-weight:600;
            text-transform: capitalize;
        }
    }
}
::-webkit-scrollbar {
    height:4px;
}
  
::-webkit-scrollbar-track {
    border-radius:10px;
    background-color:rgb(228, 226, 226);
}
  
::-webkit-scrollbar-thumb {
    background-color:rgb(158, 157, 157);
    border-radius:10px;
}
  
::-webkit-scrollbar-thumb:hover {
background: #555;
}
@media (max-width:490px) {
    main{
        width:98vw;
    }
}